@model Deck
@{
    ViewData["Title"] = "Draw";
}

<h1>And Here's Your Hand!</h1>

@*<ul>
    @for (int i = 0; i < 5; i++)
    {
    <li>
        <br /><img src="@Model.Data.IconLink[i]" />
       
    </li>

    }
</ul>*@