@model Deck

@{
    ViewData["Title"] = "Index";


}

<h1>Your Deck Has Been Shuffled. </h1>
<p>Draw when you are ready</p>

<p>@Model.Data.Deck_Id</p>

<a href="/Cards/Draw" class="btn btn-dark">Draw 5 Cards!</a>








