@model UserTask
@{
    ViewData["Title"] = "AddForm";
}

<h1>Let's Add a Task</h1>


<form asp-controller="Task" asp-action="Add" method="post">

	@Html.LabelFor(m => m.TaskDescription)
	<textarea asp-for="TaskDescription" rows="10" cols="10" required>@Model.TaskDescription</textarea>
	<br />
	@Html.LabelFor(m => m.DueDate)
	<input type="date" />
	<br />
	@Html.LabelFor(m => m.TaskStatus)
	<select asp-for="TaskStatus">
		<option value="0">Working on it</option>
		<option value="1">Completed!</option>
	</select>
	<input type="submit" value="Submit Task" />
</form>



	
	
	

